/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --primary: #027BE3;
  --secondary: #9002e3;
  --tertiary: #0211e3;
  --success: #2dd36f;
  --warning: #ffc409;
  --danger: #eb445a;
  --dark: #222428;
  --medium: #92949c;
  --light: #f4f5f8;
}